build/
.build/
install/
log/
config/
.vscode/
imgui.ini
.DS_Store
configs/
venv/
Tools/gst-plugins-rs/
Tools/webodm_bruteforce_manifest.jsonl
__pycache__
calibration_tests/
crab-captures/
science_officer/Iceberg/.~lock.Iceberg_threat_calc.xlsx#
science_officer/Iceberg/.~lock.Iceberg_threat_calc_with_clear.xlsm#
